extends ../layout

block content

  .container
    .row
      for taskDay in taskDays
        .col-sm
          h4=taskDay.dateString
          ul.list-group
            for task in taskDay.tasks
              li.list-group-item
                form(action='/task/completion', method='POST', autocomplete='off')
                  .form-check
                    input(type='checkbox', class='form-check-input' checked=task.completed, onchange='this.form.submit()', name='completed')
                    input(type='hidden', name='_csrf', value=_csrf)
                    input(type='hidden', name='taskId', value=task._id)
                    if task.completed
                      label.form-check-label
                        strike=task.name
                    else
                      label.form-check-label=task.name
                form(action='/task/delete', method='POST', autocomplete='off')
                  .form-group
                    input(type='hidden', name='_csrf', value=_csrf)
                    input(type='hidden', name='taskId', value=task._id)
                    input(type='hidden', name='dayId', value=taskDay.day_id)
                    input(type='submit', value='Delete')
          form(method='POST' action='/task', autocomplete='off')
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='dayId', value=taskDay.day_id)
            input(type='hidden', name='date', value=taskDay.date)
            div.form-group
              input#name.form-control(type='text', placeholder='new item' name='name')
            button.btn.btn-primary(type='submit') Add