extends ../layout

block content

  .container
    .row
      for taskDay in taskDays
        .col-sm
          h4=taskDay.dateString
          ul.list-group
            for task in taskDay.tasks
              li.list-group-item
                a=task.name
                form(action='/task/delete', method='POST')
                  .form-group
                    input(type='hidden', name='_csrf', value=_csrf)
                    input(type='hidden', name='taskid', value=task._id)
                    input(type='submit', value='Delete')
          form(method='POST' action='/task')
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='date', value=taskDay.date)
            div.form-group
              input#name.form-control(type='text', placeholder='new item' name='name')
            button.btn.btn-primary(type='submit') Add